#head-name {
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
  text-decoration: underline;
  font-size: 40px;
  text-shadow: 5px 5px 10px rgba(92, 44, 44, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 400px;
  margin-left: 33%;
}
body {
  font-family: sans-serif;
  padding: 20px;
  background: #f8f9fa;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
form {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: black;
}
button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.back-btn {
  background: #007bff;
  color: white;
}
#recipeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: auto;
}
